@import "tailwindcss";

@font-face {
  font-family: "Primary Font";
  src: url("/fonts/The Seasons Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Secondary Font";
  src: url("/fonts/Libre Baskerville.woff2") format("woff2");
  font-display: swap;
}

@theme {
  --font-primary: "Primary Font", serif;
  --font-secondary: "Secondary Font", serif;
}
